# Web3Forms Access Key
# Rendez-vous sur https://web3forms.com/ pour créer un compte
# et récupérer votre clé d'accès. Collez-la ci-dessous.
VITE_WEB3FORMS_ACCESS_KEY=votre_cle_web3forms_ici

# Mot de passe administrateur
# Utilisé pour se connecter à l'interface d'administration (/admin)
VITE_ADMIN_PASSWORD=admin123
